table, th, td,tr {
    border: 2px solid #1c3e3d;
}
table{
    width:900px;
}
.add-btn {
    background-color: #7d8a56;
   /* Button background color */
    color: white;
   /* Button text color */
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 20px;
    margin-bottom:10px;
    margin-left:800px;
}
.breadcrumb-item a {
    text-decoration: none;
    color:black;
}
/* Make the text of the current page bolder */
.breadcrumb-item.active {
    font-weight: bolder;
    color:black;
}
.form-container {
    width: 800px;
   /* Set the width of the form container */
    margin-left:20px;
    margin-top: 40px;
}
.form-group {
    margin-bottom: 15px;
   /* Add space between form groups */
    display: flex;
    vertical-align: top;
}
.form-group label {
    display: inline-block;
    width: 180px;
   /* Set the width of the labels */
}
.form-group input {
   /* Set the width of the inputs and buttons */
    padding: 2px;
   /* Add padding to inputs and buttons */
    box-sizing: border-box;
   /* Include padding and border in the width */
}
.btn-submit{
    background-color: #7d8a56;
   /* Button background color */
    color: white;
   /* Button text color */
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 20px;
    margin-left:350px;
    margin-top:5px;
}
.assign-btn {
    background-color: #7d8a56;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
}
